@charset "utf-8";

img {
  width: 100%;
}
.wrap {
  background: rgba(238, 243, 248, 1);
  padding: 0 0 115px 0;
}
.gnb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.gnb img:first-of-type {
  max-width: 53px;
}
.gnb img:last-of-type {
  max-width: 124px;
}
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.login p {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.login p::after {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  background-image: url('../img/c_type/arrow.png');
  background-size: cover;
  background-position: center center;
}
.login p span {
  display: inline-block;
  margin-left: 4px;
  font-weight: 700;
}
.login>span {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.login_after {
  display: none;
  padding: 0 20px;
}
.login_after .login {
  padding: 0 8px 0 0;
}
.use {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  width: 100%;
  height: 275px;
  padding: 20px 20px 16px 20px;
  gap: 16px;
  border-radius: 12px 12px 0px 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
}
.use_text p:nth-child(1){
  width: 83px;
  height: 20px;
  padding: 4px 8px;
  border-radius: 32px;
  background: rgba(230, 240, 250, 1);
  font-size: 11px;
  font-weight: 600;
  line-height: 12.1px;
  letter-spacing: -0.4px;
  color: rgba(0, 40, 160, 1);
}
.use_text p:nth-child(2){
  margin: 8px 0 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.use_text p:nth-child(3){
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  letter-spacing: -0.4px;
  color: rgba(77, 77, 77, 1);
}
.use_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 152px;
  padding: 16px 20px;
  gap: 12px;
  border-radius: 8px;
  background: rgba(242, 247, 252, 1);
}
.use_wrap {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.use_data {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.use_data img {
  max-width: 16px;
}
.use_data span {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: rgba(77, 77, 77, 1);
}
.use_data p {
  font-size: 12px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: rgba(0, 40, 160, 1);
}
.use_wrap:nth-child(2) .use_data p {
  color: rgba(243, 94, 94, 1);
}
.use_line {
  width: 100%;
  height: 6px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.1);
}
.use_line div {
  height: 6px;
  border-radius: 20px;
}
.use_wrap:nth-child(1) .use_line div {
  width: 58.6%;
  background: rgba(18, 144, 239, 1);
}
.use_wrap:nth-child(2) .use_line div {
  width: 14.6%;
  background: rgba(250, 114, 114, 1);
}
.use_wrap:nth-child(3) .use_line div {
  width: 100%;
  background: rgba(18, 144, 239, 1);
}
.amount {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 137px;
  padding: 20px 20px 16px 20px;
  gap: 16px;
  border-radius: 0px 0px 12px 12px;
  background: radial-gradient(204.45% 69.19% at 211.32% 106.57%, #3159D3 0%, #0087F3 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
  color: rgba(255, 255, 255, 1);
}
.amount>div:first-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.amount>div:first-of-type div p {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.amount>div:first-of-type div span {
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  letter-spacing: -0.4px;
}
.amount>div:first-of-type strong {
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.amount>div:first-of-type strong span {
  font-size: 16px;
  font-weight: 800;
}
.amount>div:last-of-type {
  display: flex;
  width: 100%;
  height: 42px;
  padding: 9px 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
}
.amount>div:last-of-type p {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 6px;
  width: 50%;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
  text-align: center;
}
.amount>div:last-of-type p img {
  max-width: 16px;
}
.amount>div:last-of-type p:first-of-type {
  border-right: 0.5px solid rgba(255, 255, 255, 0.4);
}
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 20px;
  width: calc(100% - 40px);
  height: 104px;
  padding: 12px 30px 12px 40px;
  border-radius: 12px;
  background: rgba(23, 188, 235, 1);
  color: rgba(255, 255, 255, 1);
}
.banner p {
  margin-bottom: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.banner span {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.4px;
}
.banner img {
  max-width: 80px;
}
.service {
  margin: 0 20px;
  width: calc(100% - 40px);
  height: 230px;
  padding: 20px 20px 24px 20px;
  border-radius: 12px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
}
.service img {
  max-width: 96.33px;
}
.service div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service p {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.service span {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  color: rgba(77, 77, 77, 1);
}
.service div:nth-of-type(1) {
  margin-bottom: 24px;
}
.service div:nth-of-type(1) img {
  max-width: 16px;
  margin-left: 4px;
}
.service div:nth-of-type(2) {
  margin-bottom: 16px;
}
.tag {
  position: relative;
  margin: 32px 20px 16px;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px 6px;
  height: 32px;
  overflow: hidden;
}
.tag div {
  position: absolute;
  right: 0;
  width: 76px;
  background: linear-gradient(90.04deg, rgba(238, 243, 248, 0) 0.05%, #EEF3F8 99.98%);
  text-align: right;
}
.tag img {
  max-width: 32px;
  cursor: pointer;
}
.tag img.on {
  transform: rotate(180deg);
}
.tag p {
  cursor: pointer;
  padding: 5px 16px;
  border-radius: 32px;
  background: rgba(252, 254, 255, 1);
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.04px;
  color: rgba(51, 51, 51, 1);
}
.tag p.on {
  background: rgba(26, 26, 26, 1);
  color: rgba(255, 255, 255, 1);
}
.product {
  padding: 0 20px;
  overflow: hidden;
}
.product .swiper-slide {
  max-width: 320px !important;
}
.product img {
  max-width: 320px;
  box-shadow: 0px 6px 30px 0px rgba(0, 0, 0, 0.05);
}
.swiper-banner {
  position: relative;
  width: calc(100% - 40px);
  height: 132px;
  border-radius: 12px;
  margin: 32px 20px;
  overflow: hidden;
}
.swiper-banner .swiper-slide {
  position: relative;
}
.swiper-banner .swiper-slide .text {
  position: absolute;
  top: 17px;
  left: 40px;
  color: rgba(255, 255, 255, 1);
}
.swiper-banner .swiper-slide .text p {
  margin-bottom: 2px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.4px;
}
.swiper-banner .swiper-slide .text span {
  font-size: 15px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: -0.4px;
}
.swiper-banner .swiper-slide:nth-child(odd) {
  background: rgba(1, 170, 185, 1);
}
.swiper-banner .swiper-slide:nth-child(odd) img {
  position: absolute;
  top: -1px;
  right: 0;
  max-width: 160px;
}
.swiper-banner .swiper-slide:nth-child(even) {
  background: rgba(97, 120, 253, 1);
}
.swiper-banner .swiper-slide:nth-child(even) img {
  position: absolute;
  top: 16px;
  right: 30px;
  max-width: 100px;
}
.swiper-pagination {
  bottom: 17px !important;
  left: 40px !important;
  width: 82px !important;
  height: 24px;
  padding: 6.5px 8px;
  border-radius: 100px;
  background: rgba(0, 0, 0, 0.5);
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 600;
  line-height: 11px;
  letter-spacing: -2%;
  text-align: center;
  color: rgba(255, 255, 255, 1) !important;
}
.swiper-button-prev {
  top: auto !important;
  bottom: 23px !important;
  left: 48px !important;
  width: 12px !important;
  height: 12px !important;
  background-image: url('../img/c_type/swiper_prev.png');
  background-size: contain;
}
.swiper-button-prev::after {
  content: '' !important;
}
.swiper-button-next {
  top: auto !important;
  bottom: 23px !important;
  left: 102px !important;
  width: 12px !important;
  height: 12px !important;
  background-image: url('../img/c_type/swiper_next.png');
  background-size: contain;
}
.swiper-button-next::after {
  content: '' !important;
}
.swiper-stop {
  position: absolute;
  top: 91px;
  left: 127px;
  width: 24px;
  height: 24px;
  gap: 10px;
  border-radius: 32px;
  background: rgba(0, 0, 0, 0.5);
  border: 0.5px solid rgba(0, 0, 0, 0.2);
  background-image: url('../img/c_type/stop.png');
  background-size: 12px 12px;
  background-position: center center;
  background-repeat: no-repeat;
  z-index: 9;
}

.bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px 20px 30px 20px;
  border-radius: 24px 24px 0px 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px -4px 28px 0px rgba(0, 0, 0, 0.1);
  z-index: 19;
}
.notice {
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}
.notice p {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.notice p::before {
  content: '';
  display: inline-block;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url('../img/c_type/notice.png');
  background-size: contain;
}
.notice img {
  max-width: 16px;
}
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}
.menu img {
  max-width: 56.25px;
}
.my_btn {
  cursor: pointer;
  width: 60px;
}

.my {
  display: none;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 16px 20px 30px 20px;
  border-radius: 24px 24px 0px 0px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px -4px 28px 0px rgba(0, 0, 0, 0.1);
  z-index: 99;
}
.indicator {
  width: 100%;
  text-align: center;
  margin-bottom: 13px;
}
.indicator img {
  max-width: 65.5px;
}
.close {
  padding-top: 16px;
  text-align: center;
}
.my_close {
  cursor: pointer;
  width: 60px;
}
.scroll {
  height: calc(100vh - 240px);
  overflow-y: scroll;
}
.scroll::-webkit-scrollbar {
  display: none;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title p {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: -0.4px;
}
.title p span {
  display: flex;
  align-items: center;
  gap: 2px;
  margin-top: 6px;
  font-size: 24px;
  font-weight: 700;
}
.title p span img {
  max-width: 16px;
}
.title>span {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: rgba(51, 51, 51, 1);
}
.my_amount {
  margin: 20px 0;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: rgba(240, 245, 250, 1);
}
.my_amount>p:first-of-type {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.my_amount>p:first-of-type span {
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  color: rgba(77, 77, 77, 1);
}
.my_amount>p:last-of-type {
  margin-top: 8px;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  line-height: 15.4px;
  letter-spacing: -0.4px;
}
.my_amount>p:last-of-type strong {
  display: block;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.4px;
  color: rgba(26, 26, 26, 1);
}
.my_amount>p:last-of-type strong span {
  font-size: 20px;
  font-weight: 800;
}
.my_amount>p:last-of-type>span {
  font-weight: 600;
  color: rgba(0, 40, 160, 1);
}
.my_amount>div {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: 42px;
  padding: 9px 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.my_amount>div p {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 6px;
  width: 50%;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
  text-align: center;
}
.my_amount>div p img {
  max-width: 16px;
}
.my_amount>div p:first-of-type {
  border-right: 0.5px solid rgba(255, 255, 255, 0.4);
}
.scroll .use_wrap:nth-child(2) .use_data p {
  color: rgba(0, 40, 160, 1);
}
.scroll .use_wrap:nth-child(3) .use_data p {
  color: rgba(243, 94, 94, 1);
}
.scroll .use_wrap:nth-child(2) .use_line div {
  width: 58.6%;
  background: rgba(18, 144, 239, 1);
}
.scroll .use_wrap:nth-child(3) .use_line div {
  width: 14.6%;
  background: rgba(250, 114, 114, 1);
}
.scroll .use_wrap:nth-child(4) .use_line div {
  width: 100%;
  background: rgba(18, 144, 239, 1);
}
.scroll .use_box {
  margin-bottom: 20px;
  height: 227px;
  background: rgba(240, 245, 250, 1);
}
.use_title span {
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.use_title p {
  margin: 4px 0;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  letter-spacing: -0.4px;
}
.ing {
  margin-bottom: 20px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: rgba(240, 245, 250, 1);
}
.ing>p:first-of-type {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.ing>div:first-of-type p:first-of-type {
  margin-bottom: 8px;
  width: 44px;
  height: 20px;
  padding: 4px 8px;
  border-radius: 32px;
  background: rgba(200, 226, 252, 1);
  font-size: 11px;
  font-weight: 600;
  line-height: 12.1px;
  letter-spacing: -0.4px;
  color: rgba(0, 40, 160, 1);
}
.ing>div:first-of-type span {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 22.4px;
  letter-spacing: -0.4px;
}
.ing>div:first-of-type span img {
  max-width: 16px;
  margin-left: 4px;
}
.ing>div:first-of-type p:last-of-type {
  margin-top: 4px;
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  letter-spacing: -0.4px;
  color: rgba(102, 102, 102, 1);
}
.ing>div:nth-of-type(2) {
  display: flex;
  align-items: center;
  margin: 8px 0 20px;
  width: 100%;
  height: 54px;
  padding: 8px 20px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.ing>div:nth-of-type(2) div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33.3%;
  height: 24px;
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
.ing>div:nth-of-type(2) img {
  max-width: 40px;
}
.ing>div:nth-of-type(2) div:last-of-type {
  border-right: none;
}
.ing>div:last-of-type {
  display: flex;
  justify-content: end;
}
.ing>div:last-of-type p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 121px;
  height: 29px;
  padding: 8px 16px;
  border-radius: 32px;
  background: rgba(26, 26, 26, 1);
  font-size: 12px;
  font-weight: 500;
  line-height: 13.2px;
  letter-spacing: -0.4px;
  color: rgba(255, 255, 255, 1);
}
.ing>div:last-of-type p img {
  max-width: 12px;
}
.history {
  margin-bottom: 29px;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: rgba(240, 245, 250, 1);
}
.history>p {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  letter-spacing: -0.4px;
}
.history>span {
  font-size: 13px;
  font-weight: 400;
  line-height: 14.3px;
  letter-spacing: -0.4px;
  color: rgba(26, 26, 26, 1);
}
.history>div {
  margin-top: 8px;
  display: flex;
  width: 100%;
  height: 42px;
  padding: 9px 0;
  border-radius: 8px;
  background: rgba(255, 255, 255, 1);
}
.history>div p {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 6px;
  width: 50%;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -0.4px;
  text-align: center;
  color: rgba(77, 77, 77, 1);
}
.history>div p img {
  max-width: 16px;
}
.history>div p span {
  display: block;
  margin-left: -4px;
  font-weight: 600;
  color: rgba(0, 40, 160, 1);
}
.history>div p:first-of-type {
  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}